# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Airflow
logs/
airflow_home/
*.db

# Docker
*.log
.env
.env.*
# Docker / local runtime data
docker/pgdata/
docker/airflow/logs/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars
*.tfplan
tfplan
*.backup

# Security scan results
tfsec-results.sarif
checkov-results.sarif
*.sarif


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env
docker/airflow/logs/
__pycache__/
.pgdata/
*.pyc
docker/pgdata/
