# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Airflow
logs/
airflow_home/
*.db

# Docker
*.log
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
